
En este Notebook se buscara explorar y analizar diferentes Datasets para determinar su viabilidad para el proyecto

In [3]:
import pandas as pd

El primer DataSet que analice fue relacionado los jugadores del FIFA 23 . Se analiza cuantas cartas de Lionel Messi aparecen en el juego y si esta dentro del Top 10.

In [18]:
playerfutbol_df = pd.read_csv("./archivos/Fifa 23 Fut Players.csv")

LINK "https://www.kaggle.com/datasets/mohammedessam97/fifa-23-fut-players-dataset"

Columns Description
here is a description of some columns in the dataset :

Ratings : Player Rating
Position : Player Position
Version : Card Version
PS : Price on Playstation , if 0 then it is not available in market
SKI : Skills rating of player ( from 0 to 5 )
WF : Weak Foot Skills ( from 0 to 5 )
WR : Work rate of player on the field , and given in the formula ( Attack Work rate / Defence Work rate ) , each value can be ( low , medium , high )
PAC : Player Pace (Speed)
SHO : Player Shooting power
PAS : Player Pass
DRI : Player Dribble
DEF : Player Defence
PHY : Player Physicality
Body : player height given in cm and feet followed by type of body of player ( for some players the game have custom body for them )
Popularity : popularity of using the player
BS : Base stats
IGS : In game stats

In [19]:
playerfutbol_df.head(10)

,Name,Ratings,Position,Version,PS,SKI,WF,WR,PAC,SHO,...,DRI,DEF,PHY,Body,Popularity,BS,IGS,Club,League,Country
0,Pelé,98,CAM,Icon Explosive,0,5,4,H \ M,95,96,...,96,60,76,"173cm | 5'8"" Unique (70kg)",1790,516,2513,FUT 22 ICONS,Icons,Brazil
1,Ronaldo,96,ST,Icon Controlled,0,5,5,M \ M,97,95,...,95,45,76,"183cm | 6'0"" R9 (78kg)",2765,489,2341,FUT 22 ICONS,Icons,Brazil
2,Zinedine Zidane,96,CAM,Icon Controlled,0,5,5,M \ M,85,92,...,95,75,86,"185cm | 6'1"" Average (77kg)",1031,529,2548,FUT 22 ICONS,Icons,France
3,Pelé,95,"CF CAM,ST",Icon Explosive,4.2M,5,4,H \ M,96,93,...,95,56,75,"173cm | 5'8"" Unique (69kg)",1277,505,2452,FUT 22 ICONS,Icons,Brazil
4,Ferenc Puskás,94,CF,Icon Controlled,0,4,3,H \ M,91,96,...,92,46,76,"172cm | 5'8"" Stocky (72kg)",1710,492,2396,FUT 22 ICONS,Icons,Hungary
5,Johan Cruyff,94,CF,Icon Explosive,0,5,5,H \ L,91,92,...,94,42,73,"180cm | 5'11"" Lean (71kg)",1575,483,2339,FUT 22 ICONS,Icons,Netherlands
6,Lev Yashin,94,GK,Icon Controlled,0,1,3,M \ M,95,89,...,96,60,95,"189cm | 6'2"" High & Average (82kg)",724,510,1320,FUT 22 ICONS,Icons,Russia
7,Mané Garrincha,94,RW,Icon Explosive,0,5,4,M \ L,90,87,...,96,41,68,"169cm | 5'7"" Short & Lean- (72kg)",765,476,2301,FUT 22 ICONS,Icons,Brazil
8,Paolo Maldini,94,CB,Icon Lengthy,0,2,4,M \ H,86,56,...,69,96,83,"186cm | 6'1"" Average (83kg)",933,465,2140,FUT 22 ICONS,Icons,Italy
9,Ronaldinho,94,LW,Icon Controlled,0,5,4,H \ L,92,90,...,95,37,81,"180cm | 5'11"" Ronaldinho (78kg)",1802,486,2328,FUT 22 ICONS,Icons,Brazil

In [20]:
playerfutbol_df.shape

(16456, 21)

In [21]:
playerfutbol_df.dtypes

Name          object
Ratings        int64
Position      object
Version       object
PS            object
SKI            int64
WF             int64
WR            object
PAC            int64
SHO            int64
PAS            int64
DRI            int64
DEF            int64
PHY            int64
Body          object
Popularity     int64
BS             int64
IGS           object
Club          object
League        object
Country       object
dtype: object

In [22]:
playerfutbol_df.describe()

,Ratings,SKI,WF,PAC,SHO,PAS,DRI,DEF,PHY,Popularity,BS
count,16456.000000,16456.000000,16456.000000,16456.000000,16456.000000,16456.000000,16456.000000,16456.000000,16456.000000,16456.000000,16456.000000
mean,66.979278,2.410246,2.974781,68.671123,54.997265,59.206125,64.247022,51.095831,65.877613,25.914864,364.096378
std,7.710202,0.808773,0.699982,11.147725,14.371595,10.335828,9.917836,16.504718,9.687106,178.078843,43.322002
min,46.000000,0.000000,0.000000,28.000000,18.000000,26.000000,28.000000,15.000000,30.000000,-2261.000000,224.000000
25%,62.000000,2.000000,3.000000,62.000000,45.000000,53.000000,59.000000,37.000000,60.000000,0.000000,335.000000
50%,66.000000,2.000000,3.000000,69.000000,57.000000,59.000000,65.000000,55.000000,67.000000,1.000000,363.000000
75%,71.000000,3.000000,3.000000,76.000000,65.000000,66.000000,70.000000,64.000000,73.000000,2.000000,391.000000
max,98.000000,5.000000,5.000000,99.000000,96.000000,96.000000,96.000000,96.000000,95.000000,6744.000000,529.000000

In [23]:
playerfutbol_df.isnull().sum()

Name          0
Ratings       0
Position      0
Version       0
PS            0
SKI           0
WF            0
WR            0
PAC           0
SHO           0
PAS           0
DRI           0
DEF           0
PHY           0
Body          1
Popularity    0
BS            0
IGS           0
Club          0
League        0
Country       0
dtype: int64

In [24]:
playerfutbol_df = playerfutbol_df[playerfutbol_df['Name'] == "Lionel Messi"]

In [25]:
playerfutbol_df

,Name,Ratings,Position,Version,PS,SKI,WF,WR,PAC,SHO,...,DRI,DEF,PHY,Body,Popularity,BS,IGS,Club,League,Country
50,Lionel Messi,92,RW RM,Champions League Explosive,1.38M,4,4,L \ L,82,90,...,95,35,66,"169cm | 5'7"" Messi (67kg)",1066,460,2271,Paris SG,Ligue 1,Argentina
51,Lionel Messi,92,CAM,Ligue 1 POTM SBC Explosive,741.25K,4,4,L \ L,82,90,...,95,35,65,"169cm | 5'7"" Messi (67kg)",3020,458,2262,Paris SG,Ligue 1,Argentina
100,Lionel Messi,91,RW RM,Normal Explosive,247K,4,4,L \ L,81,89,...,94,34,64,"169cm | 5'7"" Messi (67kg)",1128,452,2232,Paris SG,Ligue 1,Argentina

El segundo DataSet que analice fue realacionado con el Bitcoin, el precio actual, sobre su maximo, la fecha del mismo y su valor medio desde su existencia.

In [26]:
bitcoindf = pd.read_csv("./archivos/coin_Bitcoin.csv")

Link = https://www.kaggle.com/datasets/sudalairajkumar/cryptocurrencypricehistory

Content El historial de precios está disponible diariamente desde el 28 de abril de 2013. Este conjunto de datos tiene la información histórica de precios de algunas de las principales criptomonedas por capitalización de mercado.

Date : fecha de la observación 
Open : precio de apertura en el día  
High : precio más alto en el día  
Low : precio más bajo en el día 
Close : precio más bajo en el día 
Volume : Volumen de transacciones en el día  
Market Cap : Volumen de transacciones en el día

In [27]:
bitcoindf.head(20)

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
0,1,Bitcoin,BTC,2013-04-29 23:59:59,147.488007,134.000000,134.444000,144.539993,0.0,1.603769e+09
1,2,Bitcoin,BTC,2013-04-30 23:59:59,146.929993,134.050003,144.000000,139.000000,0.0,1.542813e+09
2,3,Bitcoin,BTC,2013-05-01 23:59:59,139.889999,107.720001,139.000000,116.989998,0.0,1.298955e+09
3,4,Bitcoin,BTC,2013-05-02 23:59:59,125.599998,92.281898,116.379997,105.209999,0.0,1.168517e+09
4,5,Bitcoin,BTC,2013-05-03 23:59:59,108.127998,79.099998,106.250000,97.750000,0.0,1.085995e+09
5,6,Bitcoin,BTC,2013-05-04 23:59:59,115.000000,92.500000,98.099998,112.500000,0.0,1.250317e+09
6,7,Bitcoin,BTC,2013-05-05 23:59:59,118.800003,107.142998,112.900002,115.910004,0.0,1.288693e+09
7,8,Bitcoin,BTC,2013-05-06 23:59:59,124.663002,106.639999,115.980003,112.300003,0.0,1.249023e+09
8,9,Bitcoin,BTC,2013-05-07 23:59:59,113.444000,97.699997,112.250000,111.500000,0.0,1.240594e+09
9,10,Bitcoin,BTC,2013-05-08 23:59:59,115.779999,109.599998,109.599998,113.566002,0.0,1.264049e+09
10,11,Bitcoin,BTC,2013-05-09 23:59:59,113.459999,109.260002,113.199997,112.669998,0.0,1.254535e+09
11,12,Bitcoin,BTC,2013-05-10 23:59:59,122.000000,111.551003,112.799004,117.199997,0.0,1.305479e+09
12,13,Bitcoin,BTC,2013-05-11 23:59:59,118.679001,113.010002,117.699997,115.242996,0.0,1.284207e+09
13,14,Bitcoin,BTC,2013-05-12 23:59:59,117.448997,113.434998,115.639999,115.000000,0.0,1.281983e+09
14,15,Bitcoin,BTC,2013-05-13 23:59:59,118.698997,114.500000,114.820000,117.980003,0.0,1.315710e+09
15,16,Bitcoin,BTC,2013-05-14 23:59:59,119.800003,110.250000,117.980003,111.500000,0.0,1.243874e+09
16,17,Bitcoin,BTC,2013-05-15 23:59:59,115.809998,103.500000,111.400002,114.220001,0.0,1.274624e+09
17,18,Bitcoin,BTC,2013-05-16 23:59:59,118.760002,112.199997,114.220001,118.760002,0.0,1.325727e+09
18,19,Bitcoin,BTC,2013-05-17 23:59:59,125.300003,116.570999,118.209999,123.014999,0.0,1.373724e+09
19,20,Bitcoin,BTC,2013-05-18 23:59:59,125.250000,122.300003,123.500000,123.498001,0.0,1.379575e+09

In [28]:
bestbtc = bitcoindf.sort_values("High")
bestbtc.head()

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
69,70,Bitcoin,BTC,2013-07-07 23:59:59,74.561096,66.620003,68.749001,74.561096,0.0,8.488390e+08
68,69,Bitcoin,BTC,2013-07-06 23:59:59,75.000000,66.820000,68.504997,70.277298,0.0,7.997416e+08
71,72,Bitcoin,BTC,2013-07-09 23:59:59,78.300003,72.519997,76.000000,76.694000,0.0,8.738418e+08
70,71,Bitcoin,BTC,2013-07-08 23:59:59,80.000000,72.599998,76.500000,76.515999,0.0,8.714579e+08
67,68,Bitcoin,BTC,2013-07-05 23:59:59,80.000000,65.526001,79.989998,68.431000,0.0,7.784112e+08

In [30]:
bestbtc = bitcoindf.sort_values("High",ascending=False)
bestbtc.head(20)

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
2907,2908,Bitcoin,BTC,2021-04-14 23:59:59,64863.098908,61554.796690,63523.754869,63109.695935,7.745178e+10,1.179061e+12
2908,2909,Bitcoin,BTC,2021-04-15 23:59:59,63821.672193,62208.964366,63075.196221,63314.010845,6.095438e+10,1.182945e+12
2906,2907,Bitcoin,BTC,2021-04-13 23:59:59,63742.283337,59869.956293,59890.017790,63503.457930,6.998345e+10,1.186364e+12
2909,2910,Bitcoin,BTC,2021-04-16 23:59:59,63594.720913,60222.532079,63258.505174,61572.789601,8.429301e+10,1.150457e+12
2910,2911,Bitcoin,BTC,2021-04-17 23:59:59,62572.176051,60361.352179,61529.920997,60683.821233,6.613876e+10,1.133882e+12
2875,2876,Bitcoin,BTC,2021-03-13 23:59:59,61683.864014,56217.972382,57343.370247,61243.084766,6.066983e+10,1.142369e+12
2876,2877,Bitcoin,BTC,2021-03-14 23:59:59,61597.918396,59302.316977,61221.134297,59302.316977,4.390123e+10,1.106226e+12
2903,2904,Bitcoin,BTC,2021-04-10 23:59:59,61276.665366,58038.706278,58253.776809,59793.235410,5.823847e+10,1.116890e+12
2905,2906,Bitcoin,BTC,2021-04-12 23:59:59,61253.036916,59589.873756,60175.944757,59893.451889,5.182869e+10,1.118871e+12
2911,2912,Bitcoin,BTC,2021-04-18 23:59:59,61057.456509,52829.535926,60701.886093,56216.185002,9.746887e+10,1.050445e+12
2904,2905,Bitcoin,BTC,2021-04-11 23:59:59,60790.555315,59289.795631,59846.230786,60204.964914,4.628025e+10,1.124636e+12
2877,2878,Bitcoin,BTC,2021-03-15 23:59:59,60540.992712,55393.165363,59267.429049,55907.200226,6.641937e+10,1.042946e+12
2895,2896,Bitcoin,BTC,2021-04-02 23:59:59,60267.187650,58869.279968,59098.879070,59384.313359,5.872786e+10,1.108814e+12
2880,2881,Bitcoin,BTC,2021-03-18 23:59:59,60116.249644,54253.580005,58893.078058,57858.920705,5.574604e+10,1.079511e+12
2896,2897,Bitcoin,BTC,2021-04-03 23:59:59,60110.268461,57603.889174,59397.408462,57603.889174,5.964134e+10,1.075617e+12
2882,2883,Bitcoin,BTC,2021-03-20 23:59:59,60031.286974,58213.297364,58332.262205,58313.642609,5.036173e+10,1.088105e+12
2893,2894,Bitcoin,BTC,2021-03-31 23:59:59,59930.027160,57726.418774,58930.277784,58918.832714,6.552083e+10,1.100017e+12
2898,2899,Bitcoin,BTC,2021-04-05 23:59:59,59891.296908,57694.826021,58760.873261,59057.878966,6.070627e+10,1.102881e+12
2894,2895,Bitcoin,BTC,2021-04-01 23:59:59,59586.072249,58505.279054,58926.564147,59095.807978,6.166916e+10,1.103378e+12
2933,2934,Bitcoin,BTC,2021-05-10 23:59:59,59519.354426,54071.455379,58250.872531,55859.797545,7.177655e+10,1.044927e+12

In [31]:
bitcoindf.describe()

,SNo,High,Low,Open,Close,Volume,Marketcap
count,2991.000000,2991.000000,2991.000000,2991.000000,2991.000000,2.991000e+03,2.991000e+03
mean,1496.000000,6893.326038,6486.009539,6700.146240,6711.290443,1.090633e+10,1.208761e+11
std,863.571653,11642.832456,10869.032130,11288.043736,11298.141921,1.888895e+10,2.109438e+11
min,1.000000,74.561096,65.526001,68.504997,68.431000,0.000000e+00,7.784112e+08
25%,748.500000,436.179001,422.879486,430.445496,430.569489,3.036725e+07,6.305579e+09
50%,1496.000000,2387.610107,2178.500000,2269.889893,2286.409912,9.460360e+08,3.741503e+10
75%,2243.500000,8733.926948,8289.800459,8569.656494,8576.238715,1.592015e+10,1.499957e+11
max,2991.000000,64863.098908,62208.964366,63523.754869,63503.457930,3.509679e+11,1.186364e+12

Como Tercer DataSets seleccione uno sobre peliculas / series de Netflix , buscar "Breaking Bad" , Ver cuantas peliculas hay y cuantas series

In [13]:
import pandas as pd

In [15]:
pelistodas = pd.read_csv("./archivos/netflix_titles.csv")

In [16]:
pelistodas.head(20)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
5,s6,TV Show,Midnight Mass,Mike Flanagan,"Kate Siegel, Zach Gilford, Hamish Linklater, H...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"TV Dramas, TV Horror, TV Mysteries",The arrival of a charismatic young priest brin...
6,s7,Movie,My Little Pony: A New Generation,"Robert Cullen, José Luis Ucha","Vanessa Hudgens, Kimiko Glenn, James Marsden, ...",NaN,"September 24, 2021",2021,PG,91 min,Children & Family Movies,Equestria's divided. But a bright-eyed hero be...
7,s8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...","September 24, 2021",1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s..."
8,s9,TV Show,The Great British Baking Show,Andy Devonshire,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...",United Kingdom,"September 24, 2021",2021,TV-14,9 Seasons,"British TV Shows, Reality TV",A talented batch of amateur bakers face off in...
9,s10,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States,"September 24, 2021",2021,PG-13,104 min,"Comedies, Dramas",A woman adjusting to life after a loss contend...
10,s11,TV Show,"Vendetta: Truth, Lies and The Mafia",NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, Docuseries, International TV S...","Sicily boasts a bold ""Anti-Mafia"" coalition. B..."
11,s12,TV Show,Bangkok Breaking,Kongkiat Komesiri,"Sukollawat Kanarot, Sushar Manaying, Pavarit M...",NaN,"September 23, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...","Struggling to earn a living in Bangkok, a man ..."
12,s13,Movie,Je Suis Karl,Christian Schwochow,"Luna Wedler, Jannis Niewöhner, Milan Peschel, ...","Germany, Czech Republic","September 23, 2021",2021,TV-MA,127 min,"Dramas, International Movies",After most of her family is murdered in a terr...
13,s14,Movie,Confessions of an Invisible Girl,Bruno Garotti,"Klara Castanho, Lucca Picon, Júlia Gomes, Marc...",NaN,"September 22, 2021",2021,TV-PG,91 min,"Children & Family Movies, Comedies",When the clever but socially-awkward Tetê join...
14,s15,TV Show,Crime Stories: India Detectives,NaN,NaN,NaN,"September 22, 2021",2021,TV-MA,1 Season,"British TV Shows, Crime TV Shows, Docuseries",Cameras following Bengaluru police on the job ...
15,s16,TV Show,Dear White People,NaN,"Logan Browning, Brandon P. Bell, DeRon Horton,...",United States,"September 22, 2021",2021,TV-MA,4 Seasons,"TV Comedies, TV Dramas",Students of color navigate the daily slights a...
16,s17,Movie,Europe's Most Dangerous Man: Otto Skorzeny in ...,"Pedro de Echave García, Pablo Azorín Williams",NaN,NaN,"September 22, 2021",2020,TV-MA,67 min,"Documentaries, International Movies",Declassified documents reveal the post-WWII li...
17,s18,TV Show,Falsa identidad,NaN,"Luis Ernesto Franco, Camila Sodi, Sergio Goyri...",Mexico,"September 22, 2021",2020,TV-MA,2 Seasons,"Crime TV Shows, Spanish-Language TV Shows, TV ...",Strangers Diego and Isabel flee their home in ...
18,s19,Movie,Intrusion,Adam Salky,"Freida Pinto, Logan Marshall-Green, Robert Joh...",NaN,"September 22, 2021",2021,TV-14,94 min,Thrillers,After a deadly home invasion at a couple’s new...
19,s20,TV Show,Jaguar,NaN,"Blanca Suárez, Iván Marcos, Óscar Casas, Adriá...",NaN,"September 22, 2021",2021,TV-MA,1 Season,"International TV Shows, Spanish-Language TV Sh...","In the 1960s, a Holocaust survivor joins a gro..."

In [20]:
pelistodas  .isnull().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [23]:
pelistodas.describe()

       release_year
count   8807.000000
mean    2014.180198
std        8.819312
min     1925.000000
25%     2013.000000
50%     2017.000000
75%     2019.000000
max     2021.000000

In [15]:
pelistodas = pelistodas[pelistodas['title'] == "Breaking Bad"]

In [16]:
pelistodas

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
5940,s5941,TV Show,Breaking Bad,NaN,"Bryan Cranston, Aaron Paul, Anna Gunn, Dean No...",United States,"August 2, 2013",2013,TV-MA,5 Seasons,"Crime TV Shows, TV Dramas, TV Thrillers",A high school chemistry teacher dying of cance...

In [10]:
pelistodas = pelistodas[pelistodas["type"] == "TV Show"]

In [11]:
cantSeries = len(pelistodas.axes[0])

In [12]:
print("Cantidad de series :" + str(cantSeries))

Cantidad de series :2676

In [17]:
pelistodas = pelistodas[pelistodas["type"] == "Movie"]

In [18]:
print("Cantidad de Peliculas: ", pelistodas.shape[0])

Cantidad de Peliculas:  6131